body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin-top: 60px;
}

h1{
   font-size: 32px;
   color: #333;
   margin-bottom: 20px;
}

input{
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
}
button {
    padding: 10px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 8px;
    width: 100px;
}

button:hover {
    background-color: aqua;
}

#results{
    margin-top: 20px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

#results p {
    font-size: 18px;
    color: #333;
    margin: 8px 0;
}